
<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>


<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

    <!-- The Grid -->
    <div class="w3-row-padding" >

      <!-- Left Column -->
      <div class="w3-third" style="max-width:300px">

        <div class="w3-white w3-text w3-card-4">

          <div class="w3-container">
            <h2 class="w3-text-theme w3-center">About Blog</h2>
            <p><i class="fa fa-info fa-fw w3-margin-right w3-text-theme"></i><%= blog.title %></p>
            <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i><%= blog.createdAt.toLocaleDateString() %></p>

            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-theme"></i><%= blog.user.email %></p>
            <!-- <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-theme"></i> <%= blog.user.name %></p> -->
            <p></p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-theme"></i>Author: <%= blog.user.name %> <a href=""> </a> </p>


          </div>

        </div><br>

      <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-theme w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-theme"></i> <%= blog.title %> </h2>


          <div ><br>

                    <hr>
                    <img src="<%= blog.imageUrl %>" style="width:100%" alt="<%= blog.title %>">

                  <p>

                      <span class="w3-tag w3-small w3-theme">#</span>

                  </p>

                  <hr class="w3-clear">
                  <p class="w3-padding">
                    <%= blog.description %>
                  </p>

                  <!-- <div class="w3-text-theme w3-right">
                    <i class="fa fa-thumbs-up"></i>
                    <span> Like</span>
                    <i class="fa fa-thumbs-down"></i>
                    <span> Dislike </span>

                  </div>
                  <br>



                    <h3>You can comment only once</h3>


                  <hr>
                  <form method="post" action=""> -->

                    <!-- Like and Dislike buttons -->
                    <!-- <div>
                      <button type="button" class="like-button w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Like</button>
                      <button type="button" class="dislike-button w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-down"></i> Dislike</button>
                  </div>

                    <div>
                        <label for=""></label>
                    </div>

                    <br> -->

                    <!-- Hidden input field for form.react -->
                    <!-- <input type="hidden" name="" id="react-input" value=""> -->

                    <!-- Submit button -->
                    <!-- <button type="submit"  class=" w3-button w3-theme-d1 w3-margin-bottom">Comment</button>
                </form>
                <h3> You can not comment, you must log in</h3>
                <a href="" class="w3-button w3-theme  "><i class="fa fa"></i> Log In</a>

                  <h3> You can not comment your own blogs</h3> -->

<!--
                <h3 class="w3-text-theme">Comments</h3>
                <hr>


                  <div class="w3-container w3-margin">
                      <div class="w3-row-padding w3-padding-16">
                          <div class="w3-col m2">
                              <img src="" alt="Avatar" class="w3-circle" style="width:100px">
                          </div>
                          <div class="w3-col m10">
                              <p class="w3-right "></p>

                              <a href="" ><h4></h4></a>
                              <p class="w3-right w3-opacity w3-text-theme">I  it .</p>
                              <p></p>

                          </div>
                      </div>
                  </div> -->

          </div>




        </div>



      <!-- End Right Column -->
      </div>

    <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>



  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the like and dislike buttons
        const likeButton = document.querySelector(".like-button");
        const dislikeButton = document.querySelector(".dislike-button");

        // Get the hidden input field
        const reactInput = document.querySelector("#react-input");

        // Add event listeners for button clicks
        likeButton.addEventListener("click", function() {
            // Set the hidden input value to "like" when the "Like" button is clicked
            reactInput.value = "like";
        });

        dislikeButton.addEventListener("click", function() {
            // Set the hidden input value to "dislike" when the "Dislike" button is clicked
            reactInput.value = "dislike";
        });
    });
  </script>

  <%- include ('../includes/end.ejs') %>

